<%
    const PASSED_LABEL = `<span class="label label-success label-sm">PASSED</span>`;
    const FAILED_LABEL = `<span class="label label-danger label-sm">FAILED</span>`;
    const SKIPPED_LABEL = `<span class="label label-warning label-sm">SKIPPED</span>`;
%>
<div class="row">
    <div class="col-md-12 summary">
        <h1 class="page-header">Detailed Results</h1>
        <% results.forEach(function(result, resultIndex) {
            let browserDeviceId;
            
            if (result.capabilities) {
                if (result.capabilities.browserName) {
                    browserDeviceId = result.capabilities.browserName;
                } else if (result.capabilities.mob && result.capabilities.mob.platformName) {
                    browserDeviceId = result.capabilities.mob.platformName;
                } else if (result.capabilities.web && result.capabilities.web.browserName) {
                    browserDeviceId = result.capabilities.web.browserName;
                } else if (result.capabilities.mob && result.capabilities.mob.device) {
                    browserDeviceId = result.capabilities.mob.device;
                }
            } else if (result.options) {
                if (result.options.browserName) {
                    browserDeviceId = result.options.browserName;
                }
            }
            
            if (!browserDeviceId) {
                browserDeviceId = 'Item';
            }

            const resultId = `${resultIndex}-${browserDeviceId}`;
        %>
            <div class="panel-group" id="accordion-<%=resultId%>">
                <div class="panel panel-default iteration">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-<%=resultId%>">
                                <%= browserDeviceId %>
                            </a>
                        </h3>
                    </div>
                    <div id="collapse-<%=resultId%>" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <% result.suites.forEach(function(suiteResult, suiteIndex) { %>
                                <h2><%= suiteResult.name %> (Iteration #<%= suiteResult.iterationNum %>)</h2>
                                <% suiteResult.cases.forEach(function(caseResult, caseIndex) { %>
                                <div class="panel-group" id="accordion-<%=resultIndex%>-<%=suiteIndex%>-<%=caseIndex%>">
                                    <div class="panel panel-default iteration">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-<%=resultIndex%>-<%=suiteIndex%>-<%=caseIndex%>">
                                                <%= caseResult.name %> (Iteration #<%= caseResult.iterationNum %>)</a>
                                                <%- caseResult.status === 'passed' ? PASSED_LABEL : FAILED_LABEL %>
                                                <% if (caseResult.video) { %>
                                                    <a target="_blank" href="<%= caseResult.video %>">Video</a>
                                                <% } %>
                                            </h3>
                                        </div>
                                        <div id="collapse-<%=resultIndex%>-<%=suiteIndex%>-<%=caseIndex%>" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <% if (caseResult.failure) { %>
                                                <pre style="background-color: #fcacac"><b><%= caseResult.failure.type %>: </b><%= caseResult.failure.message %></pre>
                                                <% } %>
                                                <h4>Steps</h4>
                                                <table class="table table-bordered" style="width: 100%; table-layout: fixed;">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 3%;">#</th>
                                                            <th style="width: 55%;">Step</th>
                                                            <th style="width: 10%;">Duration</th>
                                                            <th style="width: 10%;">Status</th>
                                                            <th>Details</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% if (caseResult.steps.length == 0) { %>
                                                            <tr>
                                                                <td colspan="5">- No steps defined -</td>
                                                            </tr>
                                                        <% } %>
                                                        <% caseResult.steps.forEach(function(stepResult, index) { %>
                                                            <tr>
                                                                <td><%= index + 1 %></td>
                                                                <td style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" title="<%= stepResult.name %>"><%= stepResult.name %></td>
                                                                <td><%= stepResult.duration %></td>
                                                                <td>
                                                                    <%- stepResult.status === 'passed' ? PASSED_LABEL : (stepResult.status === 'skipped' ? SKIPPED_LABEL : FAILED_LABEL) %>
                                                                </td>
                                                                <td
                                                                    style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;"
                                                                    
                                                                    <% if (stepResult.failure) { %>
                                                                        title="<%= stepResult.failure.type %>"
                                                                    <% } %>

                                                                >
                                                                    <% if (stepResult.failure) { %>
                                                                        <%= stepResult.failure.type %>
                                                                    <% } %>
                                                                    <% if (stepResult.screenshotFile) { %>
                                                                        <a target="_blank" href="<%= stepResult.screenshotFile %>">Screenshot</a>
                                                                    <% } %>
                                                                </td>
                                                            </tr>
                                                        <% }); %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                            <% }); %>
                        </div>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>